@{
  Layout = "_Layout";
}

<div class="jumbotron">
    <h1>Hair Today. Gone Tomorrow!</h1>
</div>
<button class="btn btn-secondary">
  @Html.ActionLink("See List of Stylists", "Index", "Stylists")
</button>